* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    height: 100%;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    min-width: 800px;
    min-height: 100vh;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: whitesmoke;
    background-color: #0b0b0b;
    display: flex;
    flex-direction: column;
  }
  
  .wrapper {
    flex: 1;
  }
  
  .nav {
    margin-bottom: 30px;
    margin-right: 30px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav a {
    margin: 0 10px;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav a:hover {
    opacity: 0.6;
  }
  
  .header {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #0b0b0b url(./assets/img/photo.jpg) no-repeat;
    background-size: contain;
    background-position: 50px 20px;
  }
  
  hr {
    margin: 20px auto;
    width: 13%;
    height: 1px;
    color: whitesmoke;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.1em;
  }
  
  .name-title {
    margin: 20px auto;
    font-size: 1.8em;
  }
  
  .second-title {
    margin-bottom: 20px;
  }
  
  .title-contacts {
    font-weight: normal;
    letter-spacing: 0.1em;
    color: tomato;
  }
  
  .contacts-list {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .contacts-link {
    padding: 0 6px;  
  }
  
  .contacts-link img {
    width: 33px;
    height: 33px;
  }
  
  .instagram-img {
    padding: 2px;
  }
  
  .contacts-link a {
    transition: 0.3s;
  }
  
  .contacts-link a:hover {
    filter: opacity(0.6);
  }
  
  .summary-title {
    margin-top: 30px;
    text-align: center;
  }
  
  .summary-text {
    margin-left: 50px;
    margin-right: 50px;
    text-indent: 1em;
  }
  
  .feauters {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
  }
  
  .feauters ul {
    margin: 0 20px;
    padding: 0.1px;
    list-style: none;
  }
  
  .feauters span {
    color: tomato;
    letter-spacing: 0.1em;
  }
  
  .feauters li {
    margin: 10px 0;
    font-weight: normal;
    color: whitesmoke;
    letter-spacing: normal;
    line-height: 1.3em;
  }
  
  .code-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .code {
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 26px;
    padding-left: 44px;
    height: fit-content;
    font-size: 1rem;
    width: 600px;
    background-image: url(./assets/img/vscode.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .orange {
    color: orange;
  }
  
  .green {
    color: aquamarine;
  }
  
  .red {
    color: tomato;
  }
  
  .blue {
    color: cornflowerblue;
  }
  
  .footer {
    margin: 0 30px;
    padding: 0.1em;
    height: 70px;
  }
  
  .footer>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer img {
    height: 30px;
  }
  
  .footer-github {
    margin-left: 20px;
  }
  
  .github-link {
    margin: 0;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .github-link:hover {
    filter: opacity(0.6);
  }
  
  .velokot {
    padding-left: 10px;
    padding-top: 5px;
  }
  
  .footer-rss {
    line-height: normal;
    background-color: whitesmoke;
    border-radius: 3px;
    margin-right: 20px;
    transition: 0.3s;
  }
  
  .footer-rss:hover {
    filter: opacity(0.6);
  }